.form-login {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%; /* Ocupa todo el ancho en móviles */
  max-width: 400px; /* Limita el ancho en pantallas grandes */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #5a5959;
  border-radius: 10px;
  background-color: #333;
  margin-top: 20px; /* Reduce el margen superior */
  margin-bottom: 20px; /* Reduce el margen inferior */
}

.form-login label {
  font-weight: bold;
  font-size: 0.9rem;
  color: rgb(255, 225, 56);
}

.form-login input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.form-login button {
  padding: 10px 15px;
  background-color: rgb(255, 225, 56);
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.form-login button:hover {
  background-color: rgb(230, 200, 50);
}

h1 {
  color: rgb(255, 230, 50);
  padding: 10px 20px; /* Reduce el padding */
  text-align: center; /* Centra el título */
}

/* Estilos para móviles */
@media (max-width: 768px) {
  .form-login {
    padding: 15px; /* Reduce el padding */
  }

  .form-login input {
    padding: 8px; /* Reduce el padding */
    font-size: 0.9rem; /* Reduce el tamaño de la fuente */
  }

  .form-login button {
    padding: 8px 12px; /* Reduce el padding */
    font-size: 0.9rem; /* Reduce el tamaño de la fuente */
  }

  h1 {
    font-size: 1.5rem; /* Reduce el tamaño del título */
    padding: 10px; /* Reduce el padding */
  }
}
