article {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  background-color: rgb(255, 225, 56);
}

.Products-card {
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(37, 33, 6);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 250px;
  padding: 15px;
  text-align: center;
  transition: transform 0.2s;
  height: 800px;
}

.Products-card:hover {
  transform: scale(1.02);
}

.Products-card h3 {
  font-size: 1.1rem;
  color: rgb(255, 230, 50);
  margin-bottom: 10px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 15%;
}

.Products-card img {
  width: 100%;

  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
  height: 50%;
}

.Products-description {
  font-size: 0.9rem;
  color: #cecaca;
  margin: 5px 0;
  line-height: 1.4;
  height: 15%;
}

.Products-price {
  font-weight: bold;
  color: #cac9c9;
  height: 10%;
  margin-top: 20px;
  padding: 10px 20px;
}

button {
  margin: 20px auto;
  display: block;
  background-color: #000000;
  color: rgb(255, 225, 56);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
  margin-top: 20px;
}

button:hover {
  background-color: #444444;
  transform: scale(1.05);
}

h1 {
  width: 200vh;
  background-color: rgb(37, 33, 6);
  margin-bottom: 10px;
  color: rgb(255, 230, 50);
  text-align: center;
  border-radius: 10px;
  padding: 10px 30px;
}
